name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
      working-directory: ./
    - name: Run clippy
      run: cargo clippy -- -D warnings
      working-directory: ./
    - name: Run cargo fmt
      run: cargo fmt -- --check
      working-directory: ./
    - name: Run tests
      run: cargo test --verbose
      working-directory: ./
    - name: Run cargo audit
      run: cargo audit --deny warnings
      working-directory: ./
    - name: Run cargo udeps
      run: cargo udeps --workspace
      working-directory: ./
    - name: Run cargo deny
      run: cargo deny check
      working-directory: ./
    - name: Run cargo doc
      run: cargo doc --no-deps
      working-directory: ./
    - name: Run cargo bench
      run: cargo bench --no-run
      working-directory: ./
